html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


body {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 100%;
}

header h1 {
    background: lightgray;
    color: #666666;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.bundesland {
    width: 33%;
    border: 5px solid rgb(235, 234, 234);
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

a h3 {
    color: black;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
}

a p {
    color: grey;
    margin: 0;
}

a:hover {
    cursor: pointer;
    scale: 1.02;
}

#letters {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    margin-top: 8px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(235, 234, 234);

}

.letter:hover {
    cursor: pointer;
    scale: 1.07;
}


@media (max-width: 800px) {

    body {
        width: 100%;
    }

    .bundesland {
        width: 49%;
    }

    #content {
        justify-content: space-between;
    }

}

@media (max-width: 500px) {

    .bundesland {
        width: 100%;
    }
}

@media (min-width: 801px) {
    #content {
        gap: 0.5%;
    }



}